@model PhotoGallery.Client.WebApp.Models.PhotoViewModel.PhotoModel

<div class="container-element col-md-offset-1" name="@Model.PhotoId">
    <div class="image-container">
        <img class="img-thumbnail" src="@Model.ImagePath" />
    </div>
    <div class="photo-info">
        <div>
            <h2 class="image-title">@Model.Title</h2>
            <button type="button" onclick="photoEdit(@Model.PhotoId)">
                <span class="glyphicon glyphicon-edit"></span>EditPhoto
            </button>
            <button type="button" onclick="photoDelete(@Model.PhotoId)">
                <span class="glyphicon glyphicon-remove"></span>DeletePhoto
            </button>
        </div>
        <div class="author-info">
            <br />
            Added @Html.DisplayFor(e => e.CreateTime)
        </div>
        <br />
<label>
    Average Rating
</label>

@for (int k = 0; k < 5; k++)
{
    if (k < Model.AverageRating)
    {
            <span class="glyphicon glyphicon-star" style="color: gold"></span>
    }
    else
    {
            <span class="glyphicon glyphicon-star" style="color: black"></span>
    }
}
     </div>
</div>

