@model PhotoGallery.Client.WebApp.Models.PhotoViewModel.PhotoModel

<div class="container-element col-md-offset-1" name="@Model.PhotoId">
    <div class="image-container">
        <img class="img-thumbnail" src="@Model.ImagePath" />
    </div>
    <div class="photo-info">
        <div>
            <h2 class="image-title">@Model.Title</h2>
        </div>
      
        <div class="author-info">
            <br />
            Added By @Html.ActionLink(Model.PhotoOwner, "UserPhotos", new { userId = Model.UserId }) @Model.CreateTime.ToString("f")
        </div>
        <br />
        <div>
            <label class="col-md-offset-0">
               Average Rating
            </label>
@for (int k = 0; k < 5; k++)
{
    if (k < Model.AverageRating)
    {
        <span class="glyphicon glyphicon-star" style="color: gold"></span>
    }
    else
    {
        <span class="glyphicon glyphicon-star" style="color: black"></span>
    }
}         
            <label class="col-md-offset-1">
                Your Rating 
            </label>
         

       @for (int k = 0; k < 5; k++)
       {
           if (k < Model.CurrentUserRating)
           {
                    <span class="glyphicon glyphicon-star" style="color: gold" onclick="setRating(@k+1,@Model.PhotoId)"></span>
              
           }
           else
           {          
                <span class="glyphicon glyphicon-star" style="color: black" onclick="setRating(@k+1,@Model.PhotoId)"></span>              
           }
       }

        </div>
    </div>
</div>




