@model PhotoGallery.Client.WebApp.Models.PhotoViewModel.PhotoModel

<div class="container-element col-md-offset-1" name="@Model.PhotoId">
    <div class="image-container">
        <img class="img-thumbnail" src="@Model.ImagePath" />
    </div>
    <div class="photo-info">
        <div>
            <h2 class="image-title">@Model.Title</h2>
        </div>
      
        <div class="author-info">
            <br />
            Added By @Html.ActionLink(Model.PhotoOwner, "UserPhotos", new { userId = Model.UserId }) @Model.CreateTime.ToString("f")
        </div>
        <br />
        <div>
            <label class="col-md-offset-0">
                Rating <label data-type="rating-block"></label>
            </label>
            <label class="col-md-offset-1">
                YourRating <label data-type="user-vote"></label>
            </label>

        </div>
    </div>
</div>


@*<script type="text/javascript">
    $(document).ajaxComplete(function() {
        function ratyReadOnlyParams(score) {
            return { readOnly: true, path: $.common.contentPath, score: score, number: 5 };
        }

        $('[name=' + @Model.ImageId + ']  [data-type=rating-block]').raty(
            ratyReadOnlyParams(@Math.Round(Model.AverageScore)));
        var userVote = $('[name=' + @Model.ImageId + '] [data-type=user-vote]');
        var cookie = $.cookie('@Model.ImageId');
        userVote.raty({
            readOnly: function() {
                return cookie != null;
            },
            path: $.common.contentPath,
            score: function() {
                return cookie == null ? 0 : Math.round(parseFloat(cookie));
            },
            number: 5,
            click: function(score) {
                if (cookie != null) return false;

                function errorNotify() {
                    $.common.notifyOptions.type = 'danger';
                    $.notyfy({
                        message: '@Messages.ServiceError'
                    }, $.common.notifyOptions);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetScoreToPhoto")',
                    data: { photoId: @Model.ImageId, score: Math.round(score) },
                    error: errorNotify,
                    complete: function(res) {
                        cookie = $.cookie('@Model.ImageId');
                        var result = JSON.parse(res);
                        if (result !== true) {
                            errorNotify();
                        }
                    }
                });
                return true;
            }
        });
    });
</script>*@